
@{
    ViewData["Title"] = "Zonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headline-crm">
    <div class="title">
        <i class="bi bi-speedometer"></i>
        <span class="text">Lista de Zonas</span>
    </div>

    <a class="btn-custom" asp-action="Upsert">
        <span>
            Crear nueva Zona
        </span>
    </a>
</div>

<div class="p-4 border rounded bg-light scroll-table-container">
    <table id="tblDatos" class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script src="~/js/zona.js"></script>
}

