@page
@model LoginModel

@{
    ViewData["Title"] = "Inicia Sesión";
}

<div class="login-container">
    <div class="contenedor">
        <form id="account" method="post">
            <h1>Inicia Sesión</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="input-box">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Correo Electrónico" />
                <i class="bi bi-person"></i>
                <span asp-validation-for="Input.Email"></span>
            </div>

            <div class="input-box">
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Contraseña" />
                <i class="bi bi-file-lock"></i>
                <span asp-validation-for="Input.Password"></span>
            </div>

            <button id="login-submit" class="btn-login" type="submit">Iniciar Sesión</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
