<div class="menu-items">
    <ul class="nav-links">
        <li>
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <i class="bi bi-house-door"></i>
                <span class="link-name">Inicio</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Zona" asp-action="Index">
                <i class="bi bi-pin-map"></i>
                <span class="link-name">Zonas</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Afiliado" asp-action="Index">
                <i class="bi bi-person-up"></i>
                <span class="link-name">Afiliados</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Brigada" asp-action="Index">
                <i class="bi bi-card-checklist"></i>
                <span class="link-name">Brigadas</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Usuario" asp-action="Index">
                <i class="bi bi-person"></i>
                <span class="link-name">Usuarios</span>
            </a>
        </li>
    </ul>

    <ul class="logout-mode">
        <li>
            <form  class="logout-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "" })">
                <i class="bi bi-box-arrow-left"></i>
                <button type="submit" class="link-name">Salir</button>
            </form>
        </li>
    </ul>
</div>