
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headline-crm">
    <div class="title">
        <i class="bi bi-speedometer"></i>
        <span class="text">Panel de Control</span>
    </div>

    <a>
    </a>
</div>